################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResponsabilityChainV6/.vs/ResponsabilityChainV6/v17
/ResponsabilityChainV6/ResponsabilityChainV6/bin/Debug/net6.0
/ResponsabilityChainV6/ResponsabilityChainV6/obj
/ResponsabilityChainV6/.vs/ResponsabilityChainV6/DesignTimeBuild
